img {
.responsive {
  width: 100%;
  max-width: 300px;
  height: auto;
	}
}

table, td {
	border: 1px #000000 solid;
	
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
	}
}
